.container {
  display: flex;
  flex-direction: row;
  height: 110px;
  width: 350px;
}

.container img {
  height: 50px;
  width: 50px;
}

.info {
  display: flex;
  flex-direction: column;
}

.info-heading {
  font-size: 25px;
  font-weight: 800;
  margin: 0 0 0 20px;
}

.info-desc {
  width: 280px;
  font-size: 18px;
  margin: 10px 0 0 20px;
  line-height: 1.5;
}

@media only screen and (max-width: 450px) {
  .container {
    width: 350px;
    margin: 35px 0 0 0;
  }
}
