.reason {
  margin: 0 0 5% 7%;
  width: 500px;
}

.number {
  font-size: 35px;
  padding-bottom: 10px;
}

.heading {
  font-size: 23px;
  padding-bottom: 35px;
}

.desc {
  width: 500px;
  font-size: 16px;
  line-height: 1.5;
}

@media only screen and (max-width: 450px) {
  .reason {
    width: 300px;
    margin: 0 0 15% 7%;
  }

  .desc {
    width: 300px;
  }
  .number {
    margin-top: 90px;
  }
}
