.about {
  height: 100vh;
  width: 100%;
  background-color: lightcoral;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: transparent; */
}

.container {
  display: flex;
  flex-direction: column;
}

.container h2 {
  text-align: center;
}

.container p {
  text-align: center;
}

.services {
  display: flex;
  flex-direction: row;
}

.card {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-color: lightgreen;
  margin: 30px;
}

@media only screen and (max-width: 450px) {
  .about {
    padding-top: px;
    height: 120vh;
  }

  .services {
    flex-direction: column;
  }

  .card {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: lightgreen;
    margin: 30px;
  }
}
