.teacher {
  width: 93%;
  height: 90vh;
  background-color: lightcoral;
  display: flex;
  flex-direction: row;
  padding: 0 0 0 7%;
  justify-content: center;
  align-items: center;
}

.heading {
  width: 200px;
  height: 425px;
  padding-right: 108px;
}

.heading p {
  width: 170px;
  font-size: 45px;
  padding-left: 20px;
  margin-top: 70px;
  border-left: 2px solid green;
}

.heading button {
  padding: 10px;
  font-size: 15px;
  height: 50px;
  font-weight: 700;
  width: 140px;
  margin-top: 60px;
  border: 2px solid green;
}

@media only screen and (max-width: 450px) {
  .teacher {
    flex-direction: column;
    height: 210vh;
  }

  .heading {
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
  }

  .heading p {
    margin-top: 0;
  }

  .heading button {
    /* display: none; */
    margin-top: 20px;
  }
}
